@import "main.css";

body
{
  background-image: url('assets/bgimgMask.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.google
{
  margin: auto;
  align-content: center;
  padding: 0;
  background-image: url('assets/google_logo.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  height: 92px;
  width: 100%;
  position: relative;
  top: 30vh;
}

.background
{
  position: relative;
  top: 35vh;
  margin: auto;
  width: 100%;
  align-content: center;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#find,#voice
{
  background-color: white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 30px;
  width: 40px;
  outline: none;
  border: none;
  cursor:pointer;
}

#find
{
  background-image: url('assets/search.svg');
  border-radius: 30px 0px 0px 30px;
}

#search
{
  height: 30px;
  width: 400px;
  border-style: none;
  outline: none;
  margin: 0;
  padding: 0%;
}

#voice
{
  background-image: url('assets/mic.svg');
  border-radius: 0px 30px 30px 0px;
}

#find:hover,#voice:hover 
{
  background-color: #d1d1d1;
}