@import "main.css";

main .maindiv
{
  display: flex;
  flex-direction: column;
}

header .header h1
{
  padding-left: 0.5rem;
}

header .header
{
  display: flex;
  height: 3rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  background-color: #394854;
}

header img
{
  height: 2.5rem;
  width: 2.5rem;
}

main .main
{
  background-color: #212529;
  min-height: 100vh;
  margin: 0 auto;
}

a
{
  color: aqua;
}

footer .content_footer
{
  background-color: #293038;
  height: 6rem;
  padding: .5rem;
  display: flex;
  flex-direction: row;
}

footer .content_footer .f1, .f2
{
  width: 50vw;
  text-align: center;

}

footer .copyright_footer
{
  text-align: center;
  padding-top: 1rem;
  height: 2rem;
  background-color: rgb(28, 37, 65);
}